* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

@media (max-width: 575px) {
  .description-cell {
    display: none;
  }
}

#landing {
  background-image: url('https://i.ibb.co/YZDDyVv/Home-Page-1.png'); /* Use the provided image URL */
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  background-position: center
}

#home-featured{
  background-color: #cb7846;
  color: white;
}

.carousel-container {
  height: auto; /* You can adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

#foryourinfo {
  background-color: #72925f;
  color: white;
}

#datelabel {
  background-color: #929e94;
}

#allergen {
  background-color: #349cb7;
}

#bestpair {
  background-color: #cf9e6a;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

#login{
  background-color: #fff0db;
  min-height: 100vh;
}

#registration-form{
  background-color: #fff0db;
  min-height: 100vh;
}

#userview{
  background-color: #cb7846;
  min-height: 100vh;
}

#cartview{
  background-color: #cb7846;
  min-height: 100vh;
}

#uservieworders{
  background-color: #fff0db;
  min-height: 100vh;
}

#profile{
  background-color: #fff0db;
  min-height: 100vh;
}

#adminview{
  background-color: #fff0db;
  min-height: 100vh;
}

#createproduct{
  background-color: #cb7846;
  min-height: 100vh;
}

#adminvieworders{
  background-color: #fff0db;
  min-height: 100vh;
}

#vouchers{
  background-color: #fff0db;
  min-height: 100vh;
}

#users{
  background-color: #fff0db;
  min-height: 100vh;
}

#cartempty{
  background-color: #cb7846;
  min-height: 100vh;
}

#checkout{
  background-color: #fff0db;
  min-height: 100vh;
}